{% extends "base.html" %}
{% load bootstrap %}
{% block title %}ユーザー登録{% endblock title %}

{% block extrahead %}
    <style>
        table {
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block js_script %}
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function () {
            //user_list();
        });
        function user_list() {
            $.ajax({
                url: '{% url 'form_list' %}',
                type: 'GET',
                cache: false,
                async: true
            }).done(function (data) {
                //alert("ok");
                $("#form_list").html(data);
            }).fail(function () {
                alert("error add_user");
            });
        }
    </script>

{% endblock %}


{% block content %}
    {#　ユーザー登録フォーム #}
    <form action="{% url 'add_user' %}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form.username|bootstrap_horizontal }}
        {{ form.email|bootstrap_horizontal }}
        {{ form.password|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </div>
    </form>
    <div id="form_list">
    </div>
{% endblock content %}