{% extends "base_list.html" %}

{% block extrahead %}
    <style>
        table {
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block js_script %}
    <script type="text/javascript" charset="UTF-8">
        {% if page_obj.has_previous %}
            function prev_page() {
                $.ajax({
                    url: '{% url 'form_list' %}?page={{ page_obj.previous_page_number }}',
                    type: 'GET',
                    cache: false
                }).done(function (data) {
                    $("#form_list").html(data);
                }).fail(function () {
                    alert("error prev");
                });
            }
        {% endif %}
        {% if page_obj.has_next %}
            function next_page() {
                $.ajax({
                    url: '{% url 'form_list' %}?page={{ page_obj.next_page_number }}',
                    type: 'GET',
                    cache: false
                }).done(function (data) {
                    //alert("ok");
                    $("#form_list").html(data);
                }).fail(function () {
                    alert("error next");
                });
            }
            </script>
        {% endif %}
{% endblock %}

{% block content %}
    <div id="form_list">
        {#　ユーザー一覧テーブル #}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>ユーザー名</th>
                <th>メールアドレス</th>
                <th>パスワード</th>
            </tr>
            </thead>
            <tbody>
            {% for list in user_list %}
                <tr>
                    <td>{{ list.id }}</td>
                    <td>{{ list.username }}</td>
                    <td>{{ list.email }}</td>
                    <td>{{ list.password }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# ページング #}
        <div class="pagination">
            現在:{{ page_obj.number }}ページ目
            {#　前のページが存在していたら #}
            {% if page_obj.has_previous %}
                <a href="javascript:prev_page()">前へ</a>
            {% endif %}
            {#　次のページが存在していたら #}
            {% if page_obj.has_next %}
                <a href="javascript:next_page()">次へ</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}