{% extends "base.html" %}

{% block title %}ユーザーリスト一覧{% endblock title %}

{% block extrahead %}
    <style>
        table {
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block js_script %}
    <script type="text/javascript" charset="UTF-8">
        jQuery(function ($) {
            //data-hrefの属性を持つtrを選択しclassにclickableを付加
            $('tr[data-href]').addClass('clickable')
                //クリックイベント
                    .click(function (e) {
                        //e.targetはクリックした要素自体、それがa要素以外であれば
                        if (!$(e.target).is('a')) {
                            //その要素の先祖要素で一番近いtrの
                            //data-href属性の値に書かれているURLに遷移する
                            window.location = $(e.target).closest('tr').data('href');
                        }
                    });
        });
    </script>
{% endblock %}

{% block content %}
    <button class="btn btn-warning pull-right" onClick="location.href='{% url 'download' %}'">このリストのCSVをダウンロードする
    </button>
    {#　ユーザー一覧テーブル #}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>パスワード</th>
        </tr>
        </thead>
        <tbody>
        {% for list in user_list %}
            <tr data-href="{{ list.id }}">
                <td>{{ list.id }}</td>
                <td>{{ list.username }}</td>
                <td>{{ list.email }}</td>
                <td>{{ list.password }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# ページング #}
    <div class="pagination">
        現在:{{ page_obj.number }}ページ目
        {#　前のページが存在していたら #}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% endif %}
        {#　次のページが存在していたら #}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">次へ</a>
        {% endif %}
    </div>
{% endblock content %}